name: PR test
on: [pull_request]

jobs:
  setup-jenkins:
    runs-on: ubuntu-latest
    services:
      jenkins:
        image: jenkins/jenkins:lts-jdk11
        credentials:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        env:
          # disable setup wizard
          JAVA_OPTS: -Djenkins.install.runSetupWizard=false -Dcasc.jenkins.config=/var/jenkins_home/casc_configs
        ports:
          - 8080:8080
          - 50000:50000
    steps:
    - name: clone
      uses: actions/checkout@v2
    - uses: ./
      with:
        id: ${{ job.services.jenkins.id }}
        jcasc_path: testdata/jcasc
        install_suggested_plugins: true
    - run: |
        jenkins-cli list-plugins
    - run: |
        jenkins-cli help
    - run: |
        jenkins-cli-groovy println "jenkins.model.Jenkins.get().getSystemMessage()"

  setup-jenkins-default:
    runs-on: ubuntu-latest
    services:
      jenkins:
        image: jenkins/jenkins:lts-jdk11
        credentials:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        env:
          # disable setup wizard + JCasC load
          JAVA_OPTS: -Djenkins.install.runSetupWizard=false -Dcasc.jenkins.config=/var/jenkins_home/casc_configs
        ports:
          - 8080:8080
          - 50000:50000
    steps:
    - name: clone
      uses: actions/checkout@v2
    - uses: ./
      with:
        id: ${{ job.services.jenkins.id }}
    - run: |
        jenkins-cli list-plugins
