name: PR test
on: [pull_request]

jobs:
  setup-jenkins:
    runs-on: ubuntu-latest
    services:
      jenkins:
        image: jenkins/jenkins:latest
        credentials:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        env:
          # disable setup wizard
          JAVA_OPTS: -Djenkins.install.runSetupWizard=false -Djava.util.logging.config.file=/var/jenkins_home/logging.properties
        ports:
          - 8080:8080
          - 50000:50000
    steps:
    - name: clone
      uses: actions/checkout@v2
    - uses: ./
      with:
        id: ${{ job.services.jenkins.id }}
        jcasc_path: testdata/jcasc
        install_suggested_plugins: true
    - uses: ./.github/actions/composite/post-commands
      with:
        id: ${{ job.services.jenkins.id }}

  setup-jenkins-spec-javaopt-jcasc-path:
    runs-on: ubuntu-latest
    services:
      jenkins:
        image: jenkins/jenkins:latest
        credentials:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        env:
          # disable setup wizard + JCasC path
          JAVA_OPTS: -Djenkins.install.runSetupWizard=false -Dcasc.jenkins.config=/var/jenkins_home/casc_configs
        ports:
          - 8080:8080
          - 50000:50000
    steps:
    - name: clone
      uses: actions/checkout@v2
    - uses: ./
      with:
        id: ${{ job.services.jenkins.id }}
        jcasc_path: testdata/jcasc
        install_suggested_plugins: true
    - uses: ./.github/actions/composite/post-commands
      with:
        id: ${{ job.services.jenkins.id }}

  setup-jenkins-default:
    runs-on: ubuntu-latest
    services:
      jenkins:
        image: jenkins/jenkins:latest
        credentials:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        env:
          # disable setup wizard + JCasC path
          JAVA_OPTS: -Djenkins.install.runSetupWizard=false -Dcasc.jenkins.config=/var/jenkins_home/casc_configs
        ports:
          - 8080:8080
          - 50000:50000
    steps:
    - name: clone
      uses: actions/checkout@v2
    - uses: ./
      with:
        id: ${{ job.services.jenkins.id }}
    - uses: ./.github/actions/composite/post-commands
      with:
        id: ${{ job.services.jenkins.id }}
